body {
}
/*Sử dụng độ rộng cho div toàn trang*/
div#ToanTrang {
    position:relative;
}
/*Thiết kế link đăng ký đăng nhập*/
.DangKyDangNhap {
    float:right;
    margin-top: -1%;
}
.DangKyDangNhap a:hover {
    text-decoration:none;
    color:green;
}

.DienThoai {
    margin-top: -1%;
    float:left;
}

/*Css divDanhMuc*/
#divDanhMuc {
    height:30px;
}
/*Css cho menu header*/
.navMenu {
    float:right;
    margin-right:10%;
}
.navMenu li{
    display: inline;
    padding: 20px;
    padding-top:21px;
    padding-bottom:22px;   
}
.navMenu li:hover {
    background-color:black;
}
.navMenu a:hover {
    text-decoration: none;    
}


#divMenuLeft {
    float: left;
    width: 400px;
}

.CacButtonTheLoai {
    text-align:center;
}

.imageBookStore {
    text-align: center;
}
